/* Defining variables */
:root {
    --bg-color: #ddf4ff;
    --primmary-color: #0c4da2;
    --secondary-color: #242424;
    --black-color: #0a0a0a;
    --white-color: #f6f6f6;
    --btn-active: #093f84;
}

@font-face {
    font-family: "PrimmaryFont";
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "SecondaryFont";
    src: url(../fonts/Staatliches-Regular.ttf);
}

/* Start of reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset styles */



/* Normal styles */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    background-color: var(--primmary-color);
}

header img {
    max-height: 44px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 70px;
}

.container-top {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-videoPlayer {
    min-width: 60%;
    height: fit-content;
}

.container-videoNavigation {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr) repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 60px;
    background-color: var(--secondary-color);
    border-radius: 12px 12px 0 0;
}

.container-videoNavigation h2 {
    grid-area: 1 / 4 / 2 / 5;;
    place-self: center;
    font-family: SecondaryFont;
    font-size: 2rem;
    color: var(--white-color);
}

.container-videoNavigation button {
    background-color: var(--primmary-color);
    padding: 3px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.container-videoNavigation button:hover {
    padding: 0;
    border: 2px solid var(--white-color);
}

.container-videoNavigation button:active {
    background-color: var(--btn-active);
}

.container-videoNavigation button img {
    width: 100%;
    height: auto;
}

.container-videoNavigation button:nth-child(2) {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: end;
}

.container-videoNavigation button:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;
    
}

.container-videoNavigation button:nth-child(4) {
    grid-area: 1 / 3 / 2 / 4;
    align-self: center;
    justify-self: start;
}

.section-box {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-family: SecondaryFont;
    font-size: 2rem;
    flex-grow: 1;
    --shadow-color: 197deg 32% 65%;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 .5px .6px hsl(var(--shadow-color) / .36),
        0 1.7px 1.9px -.8px hsl(var(--shadow-color) / .36),
        0 4.3px 4.8px -1.7px hsl(var(--shadow-color) / .36),
        -.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color) / .36);
}

.header-container {
    border-radius: 12px 12px 0 0;
    height: 60px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    background-color: var(--primmary-color);
    border-radius: 0 0 12px 12px;
}

.scrollable-text-container {
    overflow-y: scroll;
    margin: 20px;
    padding: 15px;
    font-family: PrimmaryFont;
    line-height: 1.3;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 12px 12px 12px 12px;
}

.plyr {
    --plyr-color-main: var(--primmary-color);
    --shadow-color: 197deg 32% 65%;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 .5px .6px hsl(var(--shadow-color) / .36),
        0 1.7px 1.9px -.8px hsl(var(--shadow-color) / .36),
        0 4.3px 4.8px -1.7px hsl(var(--shadow-color) / .36),
        -.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color) / .36);
}

body {
    background-color: var(--bg-color);
}