/* Defining variables */
:root {
    --bg-color: #ddf4ff;
    --primmary-color: #0c4da2;
    --primmary-color-30-opacity: rgba(12, 77, 162, 0.3);
    --secondary-color: #242424;
    --interactable-color: rgba(12, 77, 162, 0.5);
    --black-color: #0a0a0a;
    --white-color: #f6f6f6;
    --btn-active: #093f84;
}

@font-face {
    font-family: "PrimmaryFont";
    src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "SecondaryFont";
    src: url(../fonts/Staatliches-Regular.ttf);
}

/* Start of reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset styles */



/* Normal styles */
* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.plyr {
    --plyr-color-main: var(--primmary-color);
    --shadow-color: 197deg 32% 65%;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 .5px .6px hsl(var(--shadow-color) / .36),
        0 1.7px 1.9px -.8px hsl(var(--shadow-color) / .36),
        0 4.3px 4.8px -1.7px hsl(var(--shadow-color) / .36),
        -.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color) / .36);
}

body {
    background-color: var(--bg-color);
}

header {
	background-color: var(--primmary-color);
}

li {
	list-style: none;
}

a {
	color: var(--white-color);
	text-decoration: none;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--primmary-color);
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
    padding: 0 30px;
}

.nav-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
    width: auto;
    right: unset;
    top: unset;
    flex-direction: row;
    padding-right: 0px;
    transition: 0.3s;
}

.nav-item {
	margin: 16px 0;
	text-align: right;
	cursor: pointer;
}

.nav-menu.active {
	right: 0;
}

.nav-branding {
	max-height: 44px;
}

.nav-link {
	font-family: SecondaryFont, cursive;
	font-size: 2rem;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.hamburger {
    display: none;
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(15px) rotate(-45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-15px) rotate(45deg);
}

.bar {
	display: block;
	width: 45px;
	height: 5px;
	margin: 10px auto;
	background-color: var(--white-color);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 90px 30px;
}

video::-webkit-media-controls {
    display: none;
}

video::-webkit-media-controls-enclosure {
    display: none;
}

.container-top {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-videoPlayer {
    min-width: 60%;
    max-width: 60%;
    height: fit-content;
}

.container-videoNavigation {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr) 2fr 1fr;
    grid-template-rows: 1fr;
    height: 60px;
    background-color: var(--secondary-color);
    border-radius: 12px 12px 0 0;
}

.container-videoNavigation h2 {
    grid-area: 1 / 4 / 2 / 5;
    place-self: center;
    font-family: SecondaryFont;
    font-size: 2rem;
    color: var(--white-color);
}

.container-videoNavigation button {
    background-color: var(--primmary-color);
    padding: 3px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.container-videoNavigation button:hover {
    padding: 0;
    border: 2px solid var(--white-color);
}

.container-videoNavigation button:active {
    background-color: var(--btn-active);
}

.container-videoNavigation button img {
    width: 100%;
    height: auto;
}

.container-videoNavigation button:nth-child(2) {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: end;
}

.container-videoNavigation button:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;

}

.container-videoNavigation button:nth-child(4) {
    grid-area: 1 / 3 / 2 / 4;
    align-self: center;
    justify-self: start;
}

.section-box {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    background-color: var(--primmary-color);
    font-family: SecondaryFont;
    font-size: 2rem;
    flex-grow: 1;
    --shadow-color: 197deg 32% 65%;
    border-radius: 12px;
    box-shadow: 0 .5px .6px hsl(var(--shadow-color) / .36),
        0 1.7px 1.9px -.8px hsl(var(--shadow-color) / .36),
        0 4.3px 4.8px -1.7px hsl(var(--shadow-color) / .36),
        -.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color) / .36);
}

.header-container {
    border-radius: 12px 12px 0 0;
    height: 60px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    background-color: var(--primmary-color);
    border-radius: 0 0 12px 12px;
}

.scrollable-text-container {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 20px;
    padding: 15px;
    font-family: PrimmaryFont;
    line-height: 1.3;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 12px 12px 12px 12px;
}

.box-container-location {
    position: relative;
    display: flex;
    background-color: var(--primmary-color);
    border-radius: 0 0 12px 12px;
    justify-content: center;
    padding: 20px;
    height: calc(100% - 100px);
    margin-top: auto;
    margin-bottom: auto;
}

.section-location {
    min-height: 290px;
}

.box-container-location iframe {
    width: 100%;
    border: none;
    border-radius: 12px;
}

.box-container-location img:hover {
    transform: scale(1.05);
}

.container-galeria-video {
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-width: 60%;
}

.section-galeria {
    min-width: 60%;
    min-height: 290px;
}

.slider {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: all 1s ease-in-out;
}

.list img {
    max-width: fit-content;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.buttons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    justify-content: space-between;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--primmary-color-30-opacity);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.buttons button img {
    width: 25px;
    height: 25px;
}

.buttons button:hover {
    background-color: var(--primmary-color);
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dots {
    color: var(--white-color);
    width: fit-content;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--primmary-color-30-opacity);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dots:hover {
    background-color: var(--primmary-color);
}

.dots li {
    list-style: none;
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    margin: 10px;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.dots li.active {
    width: 30px;
}

.video-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: SecondaryFont;
    color: white;
    font-size: 1.2rem;
    background-color: var(--primmary-color);
    border-radius: 0 0 12px 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.video-box h3 {
    margin: 20px 30px 20px 30px;
    text-align: center;
}

.section-video-preview {
    min-height: 290px;
}

#video-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 20px 0 20px;
    aspect-ratio: 16/9;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#video-preview:hover {
    transform: scale(1.05);
}

#video-preview span:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    border: 2px solid white;
}

#video-preview span:nth-child(2) {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}

#video-preview span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -51%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-family: SecondaryFont;
    font-size: 2.5rem;
    color: var(--white-color);
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: var(--primmary-color);
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 50px 0px;
    gap: 70px;
    background-color: var(--secondary-color);
}

.container-developers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container-developers-groups {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.container-developer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-developer img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primmary-color);
}

.container-developer h3 {
    font-family: SecondaryFont;
    font-size: 2rem;
    color: var(--white-color);
    margin: 25px 0 15px 0;
}

.container-developer p {
    font-family: SecondaryFont;
    font-size: 1.5rem;
    color: var(--white-color);
}

.container-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.container-logos img {
    height: 80px;
}

.no-data {
    max-width: 100px;
    margin: auto;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backInLeft {
    0% {
        -webkit-transform: translateX(-2000px) scale(0.7);
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.animate__backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft;
}

@-webkit-keyframes backInRight {
    0% {
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backInRight {
    0% {
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.animate__backInRight {
    -webkit-animation-name: backInRight;
    animation-name: backInRight;
}

@-webkit-keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px) scale(0.7);
        transform: translateY(1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px) scale(0.7);
        transform: translateY(1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.animate__backInUp {
    -webkit-animation-name: backInUp;
    animation-name: backInUp;
}

@media(max-width: 1150px) {
    .container-top {
        flex-direction: column;
    }

    .container-videoPlayer {
        max-width: none;
    }

    .container-bottom {
        flex-direction: column;
    }

    .dots-container {
        bottom: 10px;
    }
}

@media(max-width: 950px) {
    .container-developers {
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 750px) {
    .container-galeria-video {
        flex-direction: column;
    }

    .video-box {
        font-size: 1.5rem;
    }

    #video-preview {
        max-width: 80%;
        margin-bottom: 20px;
    }

    #video-preview span:nth-child(3) {
        left: 50.5%;
        transform: translate(-50%, -50.5%);
    }
}

@media(max-width: 650px) {
	.hamburger {
        display: block;
        cursor: pointer;
    }

	.navbar {
		padding: 0 10px;
	}

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
        background-color: var(--primmary-color);
        width: 100%;
        transition: 0.3s;
    }
    main {
        margin: 90px 10px;
    }

    .container-videoNavigation {
        grid-template-columns: repeat(3, 0.4fr) 2.5fr;
        grid-template-rows: 1fr;
    }

    .container-videoNavigation h2 {
        align-self: center;
        justify-self: start;
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .container-videoNavigation button {
        border-radius: 5px;
        height: 30px;
        width: 30px;
    }

    .section-box {
        font-size: 1.5rem;
    }

    .slider {
        aspect-ratio: 1/1;
    }

    .list img {
        aspect-ratio: 1/1;
    }

    .buttons {
        display: none;
    }

    footer h2 {
        font-size: 2rem;
        padding: 15px 20px 15px 20px;
    }

    #checkpoint {
        width: 22px;
        height: 22px;
    }

    #checkpoint span {
        width: 14px;
        height: 14px;
    }
}

@media(max-width: 500px) {
    .scrollable-text-container {
        margin: 10px;
        padding: 10px;
        font-size: 1rem;
    }

    .video-box h3 {
        margin: 10px 30px 10px 30px;
    }

    #video-preview {
        margin: 0 10px 10px 10px;
    }

    #video-preview:hover {
        transform: scale(1.02);
    }

    .box-container-location {
        padding: 10px;
    }

    .box-container-location img:hover {
        transform: scale(1.02);
    }

    .container-developers-groups {
        flex-direction: column;
        gap: 30px;
    }

    .container-logos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container-logos img {
        height: auto;
        width: 45%;
    }
}

@media(max-width: 400px) {
    main {
        margin: 90px 5px;
    }

    .container-videoNavigation {
        grid-template-columns: repeat(3, 0.4fr) 2.5fr;
        grid-template-rows: 1fr;
    }

    .container-videoNavigation h2 {
        align-self: center;
        justify-self: start;
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .container-videoNavigation button {
        border-radius: 5px;
        height: 30px;
        width: 30px;
    }
}